*{ 
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    
}

    
body{
    background-color: #DDD9CE;
    width: 100vw;
    height: 100vh;
}

    .encabezado{
        background-color: #EDC17E;
        justify-items: center;
        display: inline-flex;
        gap: 80px;
        width:100vw;
        height: 150px;
    }

    .logopasteleria{
        display: flex;
        width: 20px;
        padding: 30px 180px 30px 80px;
        justify-content: center;
        align-items: center;
        background-color: #EDC17E;
    }

    .inicio{
        margin-top: 0px;
        margin-left: -70px;
        display: flex;
        width: 100px;
        height: 130px;
        flex-direction: column;
        justify-content: center;
        padding: 10px 100px 0px 90px;
        position: relative;
    }
    #num1{
        color: #000000;
        text-align: center;
        font-family: cambria;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
    }

    .nosotros{
        margin-top: 0px;
        margin-left: -70px;
        display: flex;
        width: 100px;
        height: 130px;
        flex-direction: column;
        justify-content: center;
        padding: 10px 100px 0px 80px;
        position: relative;
    }
    #num2{
        color: #000000;
        text-align: center;
        font-family: cambria;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .menu{
        margin-top: 0px;
        margin-left: -70px;
        display: flex;
        width: 100px;
        height: 130px;
        flex-direction: column;
        justify-content: center;
        padding: 10px 80px 0px 150px;
        position: relative;
    }
    #num3{
        color: #000000;
        text-align: center;
        font-family: cambria;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .pedidosonline{
        margin-top: 0px;
        margin-left: -70px;
        display: flex;
        width: 200px;
        height: 130px;
        flex-direction: column;
        justify-content: center;
        padding: 10px 70px 0px 80px;
        position: relative;
    }
    #num4{
        color: #000000;
        text-align: center;
        font-family: cambria;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .atencionalcliente{
        margin-top: 0px;
        margin-left: -70px;
        display: flex;
        width: 230px;
        height: 130px;
        flex-direction: column;
        justify-content: center;
        padding: 10px 50px 0px 50px;
        position: relative;
    }
    #num5{
        color: #000000;
        text-align: center;
        font-family: cambria;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .texlog{
        font-size: 25px;
        color: #ffffff;
        font-family: cambria;
        padding:30px 30px 30px 130px;
    }
    .imgfondo{
        height:700px;
        width:100vw;
    }
    #num1:hover
    {color: rgb(255, 255, 255);}
    #num2:hover
    {color: rgb(255, 255, 255);}
    #num3:hover
    {color: rgb(255, 255, 255);}
    #num4:hover
    {color: rgb(255, 255, 255);}
    #num5:hover
    {color: rgb(255, 255, 255);}

    section{
        width: 100vw;
        height: 700px;}

    .pie{
        background-color: #EDC17E;
        width: 100vw;
        height: 110px;
    }
    